//fonts and sizes//

body {
    box-sizing: border-box;
    font-size: 16px;

    h1 {
        font-size: 3rem;

        @media only screen and (min-width: 768px) {
            font-size: 3.5rem;
        }

        @media only screen and (min-width: 1200px) {
            font-size: 4rem;
        }
    }

    h2 {
        font-size: 2.5rem;
        @media only screen and (min-width: 768px) {
            font-size: 3remrem;
        }

        @media only screen and (min-width: 1200px) {
            font-size: 3.5rem;
        }
    }

    h3 {
        font-size: 1.9rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h1, h2, h3, h4, h5, h6, a {
        font-family: @h;
    }

    p {
        font-size: 1rem;
        font-family: @p;
        line-height: 1.5;
    }
} //closes body


//divs and layout//

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media only screen and (min-width: 1200px) {
        width: 70%;
    }

    .about {
        width: 100%;
        .flex-layout-styles(justify, center);
        flex-direction: column;
        margin-top: 20px;
         
        @media @tablet {
            flex-direction: row;
            flex-wrap: row wrap;
        } //media query

        @media @desktop {
            width: 85%;
        }

           .halves {
                width: 100%;

                @media only screen and (min-width: 768) {
                    width: 50%;
                }
            }


    }//about
}





