//*****breakpoints*****//

@mobile: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1200px)";


//*****fonts*****//
@p: "Roboto", sans-serif;
@h: "Raleway", sans-serif;


//*****colors*****//
@headers-and-hovers:#d0d8db;
@header: #e2e7e9;
@header-wording: #004d1a;
@login-button: #75328a;